<html>
<head>
<title>This is first Angular page
</title>

<script src="js/angular.min.js"></script>
<script src="js/MyJavaScript.js"></script>

</head>
<body>

<div ng-app="myApp">


<div ng-controller="myController1">
<input type="text"  placeholder="Enter you first value." ng-model="firstName"/><br>
<input type="text"  placeholder="Enter you second value." ng-model="lastName"/><br>

<ul  ng-repeat="x in names">
  <li>
    {{x.firstName}}
  </li>
</ul>

<table ng-repeat="x in names" border="1px">
<tr>
<td style="width:100px">
{{x.firstName}}
</td>
<td style="width:100px">
{{x.firstName}}
</td>
</tr>
</table>

</div>
<br>
<br>
<div ng-controller="myController2">
<input type="text"  placeholder="Enter you first value." ng-model="firstName"/><br>
<input type="text"  placeholder="Enter you second value." ng-model="lastName"/><br>
<span>{{firstValue+SecondValue}}</span>
</div>
<br>
<br>
<div ng-controller="myController3">
<input type="text"  placeholder="Enter you first value." ng-model="firstName"/><br>
<input type="text"  placeholder="Enter you second value." ng-model="lastName"/><br>
<span>{{firstValue+SecondValue}}</span>
</div>

</div>
</body>
</html>


