<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | Corlate</title>
	
	<!-- core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
	<link rel="stylesheet" href="css/kendo.common-material.min.css" />
	<link rel="stylesheet" href="css/kendo.material.min.css" />
	<link rel="stylesheet" href="css/kendo.material.mobile.min.css" />
</head><!--/head-->

<body class="homepage">

<form id="index" name="index">
    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                        <div class="top-number"><p><i class="fa fa-phone-square"></i>&nbsp +91-8275287685 &nbsp &nbsp<i class="fa fa-hand-o-right"></i>&nbsp employmenttime2017@gmail.com &nbsp &nbsp<i class="fa fa-hand-o-right"></i>&nbsp Visitors Count:</p></div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                       <div class="social">
                            <ul class="social-share">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                            <div class="search">
                                <form role="form">
                                    <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                    <i class="fa fa-search"></i>
                                </form>
                           </div>
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active" id="mHome"><a href="index.html">Home</a></li>
                        <li id="mguidelines"><a href="#">Guidelines</a></li>
                        <li id="mAbout"><a href="#">About</a></li>
                        <li id="mEVersion"><a href="#">e-Version</a></li>
                        <li id="mJobs" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Jobs <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#feature">Government Jobs</a></li>
                                <li><a href="#private">Private Jobs</a></li>
                                <li><a href="#defence">Defence Jobs</a></li>
                                <li><a href="#bank">Bank Jobs</a></li>
                            </ul>
                        </li>
                    <li id="mContact"><a href="blog.html">Contact</a></li> 
                    <li id="mViewEPaper" style="display:none"><a href="contact-us.html">View e-Paper</a></li>                        
                    <li id="mPostEPaper" style="display:none"><a href="Registration.html">Post e-Paper</a></li>                        
                    <li id="mAddSubscription" style="display:none"><a href="Registration.html">Add Subscriptions</a></li>
					<li id="mPostJobs" style="display:none"><a href="Registration.html">Post Jobs Highlights</a></li>
					<li id="mEditJobs" style="display:none"><a href="Registration.html">Edit Jobs Highlights</a></li>					
					<li id="mRegister"><a href="Registration.html">Registration</a></li> 
					<li id="mLogin"><a href="#" id="btnLogin">Login</a></li>  
                    <li id="mWelcome"><a href="#" id="lnkWelcome" style="display:none;">Welcome</a></li>  					
                    <li id="mLogout"><a href="#" id="btnLogout" style="display:none;" onclick="Logout();">Logout</a></li>  
					</ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->

    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">

                <div class="item active" style="background-image: url(images/slider/bg1.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Place where you can find out latest Government and Private jobs</h1>
                                    <h2 class="animation animated-item-2">Its time to move on for bright future...</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                </div>
                            </div>

                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="images/slider/img1.png" class="img-responsive">
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url(images/slider/bg2.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Place where you can find out latest Government and Private jobs</h1>
                                    <h2 class="animation animated-item-2">Its time to move on for bright future...</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                </div>
                            </div>

                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="images/slider/img2.png" class="img-responsive">
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url(images/slider/bg3.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Place where you can find out latest Government and Private jobs</h1>
                                    <h2 class="animation animated-item-2">Its time to move on for bright future...</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="images/slider/img3.png" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section><!--/#main-slider-->

    <section id="feature" >
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>News Highlights</h2>
                <p class="lead">Government Jobs</p>
            </div>
			<div ng-app="myApp"> <!-- directive which tells angular that this is the root element of app and can have only 1-->
				
				<div ng-controller="govController"> <!-- directive which tells angular that this is the root element of app and can have only 1-->
  			 
					<div class="row" ng-repeat="x in jobList">
				
						<div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
							{{x.jobLogoPath}}
							<h2 style="float:right"> {{x.jobTitle}}</h2>
                            
                        </div>
						</div><!--/.col-md-6-->

						<div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
							{{x.jobLogoPath}} 
                            <h2 style="float:right">{{x.jobTitle}}</h2>
                            
                        </div>
						</div><!--/.col-md-6-->

                    
               
					</div><!--/.row-->    
				</div><!--/.container-->
				
				<div id="private" class="center wow fadeInDown">
					<p class="lead">Private Jobs</p>
				</div>
				<div ng-controller="privateController">  <!--  can write variable,method and object is call as scope-->
				
					<ul  ng-repeat="x in jobList"> <!-- repeats a set of HTML, a given number of times.-->
						<li>
							{{x.jobTitle}}
						</li> 
					</ul>
				

				</div>
				
				<div id="defence" class="center wow fadeInDown">
					<p class="lead"><h3>Defence Jobs</h3></p>
				</div>
				<div ng-controller="defenceController">  <!--  can write variable,method and object is call as scope-->
				
					<table ng-repeat="x in jobList" border="1px">
						<tbody>
							<tr>
								<td style="width:100px">
								{{x.jobId}}
								</td>
								<td style="width:1000px">
								{{x.jobTitle}}
								</td>
								<td style="width:1000px">
								{{x.jobLogoPath}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div id="bank" class="center wow fadeInDown">
					<p class="lead"><h3>Bank Jobs</h3></p>
				</div>
				<div ng-controller="bankController">  <!--  can write variable,method and object is call as scope-->
				
					<table ng-repeat="x in jobList" border="1px">
						<tbody>
							<tr>
								<td style="width:100px">
								{{x.jobId}}
								</td>
								<td style="width:1000px">
								{{x.jobTitle}}
								</td>
								<td style="width:1000px">
								{{x.jobLogoPath}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
    </section><!--/#feature-->

  
    <section id="services" class="service-item">
	   <div class="container">
            <div class="center wow fadeInDown">
                <h2>Our Service</h2>
                <p class="lead">
				Employment Time is a weekly Newspaper which is registered as per the rules and regulation of Government of India <br> <br>
				Firstly welcome to all viewers of the Employment Time. Such Employment Time weekly newspaper running <br>
				for those person which are required highly jobs in India as well as abroad. <br><br>
				In such Employment Time such news are published all Government Jobs in India and also published. <br>
				Types of news published private sector jobs in different types of industries e.g. pharmaceuticals, <br>
				civil construction, banking and Insurance , education , security, telecommunication industries, <br>
				retails managements , Automobiles, textiles, healthcare, beauty, agriculture, gems and jewelry, <br>
				Nation as well as abroad. <br>
				</p>
            </div>

        </div><!--/.container-->
    </section><!--/#services-->



    <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Company</h3>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">We are hiring</a></li>
                            <li><a href="#">Meet the team</a></li>
                            <li><a href="#">Copyright</a></li>
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Support</h3>
                        <ul>
                            <li><a href="#">Faq</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Forum</a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Refund policy</a></li>
                            <li><a href="#">Ticket system</a></li>
                            <li><a href="#">Billing system</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Developers</h3>
                        <ul>
                            <li><a href="#">Web Development</a></li>
                            <li><a href="#">SEO Marketing</a></li>
                            <li><a href="#">Theme</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Email Marketing</a></li>
                            <li><a href="#">Plugin Development</a></li>
                            <li><a href="#">Article Writing</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Our Partners</h3>
                        <ul>
                            <li><a href="#">Adipisicing Elit</a></li>
                            <li><a href="#">Eiusmod</a></li>
                            <li><a href="#">Tempor</a></li>
                            <li><a href="#">Veniam</a></li>
                            <li><a href="#">Exercitation</a></li>
                            <li><a href="#">Ullamco</a></li>
                            <li><a href="#">Laboris</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->
            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2013 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
	<script src="js/angular.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
	<script src="js/kendo.all.min.js"></script>
	<script src="js/employmentTimes.js"></script>
	
	<div id="loginModel">
	
                    <div>
						  <div>
							<div class="Absolute-Center is-Responsive">
							 
							  <div>								
								  <div class="form-group input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
									<input class="form-control" type="text" name='userName' id='userName' placeholder="Please enter Username"/>          
								  </div>
								  <div class="form-group input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
									<input class="form-control" type="password" name='userPassword' id='userPassword' placeholder="Please enter Password"/>     
								  </div>
								  <div class="form-group">
									<input type="button" class="btn btn-primary tf-btn color" id="btnSubmit" value="Login" onclick="DoLogin();"></input>
								  </div>
								  <div class="form-group text-center">
									<a href="#">Forgot Password</a>
								  </div>								      
							  </div>  
							</div>    
						  </div>
					</div> 
	</div>
	
</form>
</body>
</html>